.container {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 3rem;
  max-width: 65ch;
  margin: 0 auto;
}

.noteText {
  hyphens: auto;
  line-height: 1.4;
  margin: 0;
  white-space: pre-line;
}

.noComment {
  font-weight: bolder;
  font-style: italic;
<<<<<<< HEAD
  user-select: none;
=======
>>>>>>> bcab7ec0be2ca7d8e0b6cb6714c63d8f9fe918e2
}
