name: Backup Routine
on:
  schedule:
    # Runs at 04:00 UTC on the 1st and 17th of every month
    - cron: '0 4 */16 * *'
  workflow_dispatch:
jobs:
  backup-dataset:
    runs-on: ubuntu-latest
    name: Backup dataset
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v4
        with:
          version: 10.12.1
      - uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: 'pnpm'

      - name: Install dependencies
        run: pnpm install

      - name: Export dataset
        env:
          SANITY_AUTH_TOKEN: ${{ secrets.SANITY_AUTH_TOKEN }}
          SANITY_STUDIO_API_PROJECT_ID: ${{ secrets.SANITY_PROJECT_ID }}
        run: npx @sanity/cli dataset export --no-assets production backup.tar.gz

      - name: Upload backup.tar.gz
        uses: actions/upload-artifact@v4
        with:
          name: backup-tarball
          path: backup.tar.gz
          if-no-files-found: error
